.header{
    height: 800px;
}

.hdd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hdd-t{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    width: 600px;
}

.hdd-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hdd-title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.sect-main{
    display: flex;
    justify-content: center;
}

.main-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-tt1{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 700px;
}

.main-tt2{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
}

.main-col-1{
    background-color: aqua;
    height: 350px;
    width: 700px;
}

.main-col-2{
    background-color: blueviolet;
    height: 350px;
    width: 700px;
}

.main-col-3{
    width: 700px;
    height: 700px;
}

.bg-img-1{
    height: 700px;
}

#logo{
    height: 70px;
}

#seccion-1{
    height: 700px;
}