body{
    margin: 0 auto;
}


/*Fuenetes*/
.all-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-gruesa {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

span{
    color: #3caccf;
}
/*Fin Fuentes*/

.header{
    background-image: url(images/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: 101%;
    height: 750px;
}

.hdd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hdd-t{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 55px;
    width: 700px;
}

.hdd-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-1{
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.hdd-title{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.title-l{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

.txt-1{
    padding-top: 20px;
    font-size: 100%;
}

.centrao{
    display: flex;
    justify-content: center;
    width: 668px;
    height: 679px;
}

.main-1{
    outline: auto;
    width: 768px;
    height: 768px;
}
.main-ctr{
    display: flex;
    justify-content: center;
}

.Aerials{
    display: flex;
    align-items: center;
    justify-content: right;
}

.Aerials-2{
    display: flex;
    align-items: center;
    justify-content: left;
    outline: auto;
}

#logo{
    padding-left: 100px;
    padding-top: 50px;
    height: 60px;
}

#logo-1{
    height: 80px;
}
